<%= render 'shared/page_title', title: "SignUp for eascipe App" %>

<%= render 'shared/errors', obj: @chef %>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<div class="form-group row">
				<div class="control-label col-md-2">
					<%= f.label :chefsname, "Chef Name" %>
				</div>
				<div class="col-md-8">
					<%= f.text_field :chefsname, class: "form-control", placeholder: "Enter your Name", autofocus: true %> 
				</div>
			</div>	

			<div class="form-group row">
				<div class="control-label col-md-2">
					<%= f.label :Email %>
				</div>
				<div class="col-md-8">
					<%= f.email_field :email, class: "form-control", placeholder: "Enter your Email" %> 
				</div>
			</div>	

			<div class="form-group row">
				<div class="control-label col-md-2">
					<%= f.label :password %>
				</div>
				<div class="col-md-8">
					<%= f.password_field :password, class: "form-control", placeholder: "Choose a Password" %>
					<small class="form-text text-muted">
			        Your password must be 8-20 characters long, contain letters, numbers and special characters, but must not contain spaces.
			    </small>					 
				</div>
			</div>	

			<div class="form-group row">
				<div class="control-label col-md-2">
					<%= f.label :confirm_password, "Confirm Password" %>
				</div>
				<div class="col-md-8">
					<%= f.password_field :confirm_password, class: "form-control", placeholder: "Confirm Password" %> 
				</div>
			</div>	

			<div class="form-group row">
				<div class="offset-md-2 col-md-10">
					<%= f.submit "Create my Account", class: "btn btn-primary btn-lg color_background" %>
				</div>
			</div>
		<% end %>
					<div class="col-md-6 offset-md-6 color_look"> 
						[<%= link_to "Cancel request and return to reipes listing", chefs_path %>]
					</div>
	</div>
</div>
