<%= render 'shared/page_title', title: "Edit a recipe" %>
<% if @recipe.errors.any? %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="card">
				<div class="card-header color_danger">
						<%= pluralize(@recipe.errors.count, "error") %> prohibited this <%= @recipe.class %> from being saved:
				</div>					
					<div class="card-body">
						<div class="card-header">
							<ul>
								<% @recipe.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
								<% end %>
							</ul>
						</div>
					</div>					
			</div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= f.label :name %>
				</div>
				<div class="col-md-8">
					<%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %> 
				</div>
			</div>	


			<div class="form-group">
				<div class="control-label col-md-2">
					<%= f.label :description %>
				</div>
				<div class="col-md-8">
					<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to crate recipe" %> 
				</div>
			</div>	

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<%= f.submit class: "btn btn-primary btn-lg color_background" %>
			</div>
		</div>
		<% end %>
		<div class="col-md-offset-6 color_look"> 
			[<%= link_to "Cancel request and return to reipes listing", recipes_path %>]
		</div>
	</div>
</div>
