<%= render 'shared/page_title', title: @recipe.name %>

<hr />
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center description"><strong>Steps:</strong></h4>
	<%= simple_format(@recipe.description) %>
	<hr />
	<div class="center pull-right">
		<p>
			<em>Created by: </em> 
		</p> 
		<p>
			<%= link_to gravatar_for(@recipe.chef), recipes_path %>
		</p>
		<p>
			<small>
				<%= @recipe.chef.chefsname.capitalize %>
			</small>
			<div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
		</p>
	</div>
</div>
